
#conteneur
{
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
}

.enfant
{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	margin: 10px;
}

@media all and (orientation: portrait)
{
	#conteneur
	{
		flex-direction: column;
	}
}
